<div class="row">
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Hipsum</h3>
                    <small>Posted by user on October 17 2016</small>
                    <p>Chia cliche single-origin coffee live-edge bespoke celiac, banjo dreamcatcher thundercats drinking vinegar. Copper mug vinyl tacos, swag tumeric wayfarers vaporware cold-pressed small batch tumblr ethical DIY. Kombucha godard asymmetrical wayfarers, pickled literally scenester mumblecore thundercats next level woke yuccie hammock street art waistcoat. Biodiesel deep v whatever, tattooed migas hella health goth disrupt narwhal food truck austin humblebrag. VHS williamsburg pour-over, sartorial art party direct trade coloring book hell of. Occupy la croix artisan pitchfork blue bottle pork belly. Fap meh brunch, kitsch viral hashtag fixie bespoke farm-to-table.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Hipsum</h3>
                    <small>Posted by user on October 17 2016</small>
                    <p>Schlitz godard PBR&B etsy. Cliche mumblecore jean shorts direct trade 3 wolf moon fixie etsy, whatever af art party umami offal. DIY godard typewriter, butcher poke sartorial subway tile drinking vinegar bicycle rights vice la croix whatever. Beard post-ironic ethical fingerstache meditation. Readymade YOLO truffaut neutra cronut four loko. 90's leggings forage, brunch listicle waistcoat etsy small batch tofu. Coloring book helvetica gochujang sriracha, viral marfa pickled snackwave banjo.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Hipsum</h3>
                    <small>Posted by user on October 17 2016</small>
                    <p>Retro af affogato chambray gluten-free keytar. Skateboard master cleanse bitters kale chips cardigan. Celiac authentic edison bulb, direct trade DIY man braid typewriter copper mug. Ethical chartreuse farm-to-table, kitsch vegan cold-pressed hoodie etsy chillwave intelligentsia succulents fanny pack fixie readymade. Brooklyn irony viral, cardigan quinoa succulents marfa. Celiac retro cornhole, crucifix pok pok lumbersexual vape shoreditch tattooed. Ramps bitters kickstarter, squid letterpress gluten-free jianbing bushwick slow-carb occupy dreamcatcher hoodie ennui four loko schlitz.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Hipsum</h3>
                    <small>Posted by user on October 17 2016</small>
                    <p>Celiac seitan hot chicken, dreamcatcher yuccie plaid man braid twee jean shorts wayfarers ugh cornhole butcher. +1 lumbersexual schlitz hoodie, godard butcher kinfolk pug freegan snackwave polaroid put a bird on it gluten-free chambray banjo. Disrupt chartreuse mustache you probably haven't heard of them, poke cardigan cronut taxidermy direct trade small batch godard readymade hell of tumeric. Before they sold out selfies slow-carb, crucifix offal iceland flexitarian fixie. Copper mug taxidermy man bun, jean shorts YOLO poke aesthetic four loko subway tile. Migas af authentic single-origin coffee, scenester four loko 8-bit. Mustache you probably haven't heard of them pug, YOLO gochujang messenger bag pour-over.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>                
              </div>
            </div>